* {
    font-style: sans-serif;
    box-sizing: border-box;
    margin: .2rem;
}


/* a {
    color: black;
} */

header {
    display: flex;
    background-color: lightblue;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
}

.user {
    background-color: lightcyan;
    text-align: center;
}

.more-info,
.snippet-title {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
}

.snippet-body {
    padding-left: 1rem;
}